h1 {
background-color: darkgray;
text-align: center;
font-size: 30px;
outline: 5px solid rgb(0, 0, 0);
padding: 10px;
margin: 10px;
margin-bottom: 0px;
}
.logo {font-size: 1.200rem;
    margin-right: auto;
}
.header {
    display: flex;
    gap: 12px;
    border-bottom: 1px dotted;
    align-items: baseline;
    list-style-type: none;
    background-color: darkgray;
    text-align: center;
    outline: 1px solid black;
    padding: 10px;
    margin: 10px;
    margin-top: 1px;
}
.desc {
    text-align: center;
    font-size: 20px;
}
.flex-container {
    display: flex;
}
.flex-container div {
    outline: 5px solid black;
    text-align: center;
    background: darkgray;
    height: 300px;
    flex: 1;
    margin: 10px;

}